 <div class="form-group">
  <label for="reason" class="col-sm-3 control-label">
    <strong>Theme 1</strong>
  </label>
  <div class="col-sm-9">
    <input type="text" id="theme_1" name="theme_1" value="<%= @settings.last[:theme_1] %>" class="form-control">
  </div>
</div>

<div class="form-group">
  <label for="reason" class="col-sm-3 control-label">
    <strong>Theme 2</strong>
  </label>
  <div class="col-sm-9">
    <input type="text" id="theme_2" name="theme_2" value="<%= @settings.last[:theme_2] %>" class="form-control">
  </div>
</div>

<div class="form-group">
  <label for="reason" class="col-sm-3 control-label">
    <strong>Theme 3</strong>
  </label>
  <div class="col-sm-9">
    <input type="text" id="theme_3" name="theme_3" value="<%= @settings.last[:theme_3] %>" class="form-control">
  </div>
</div>
