
<% if @settings.last[:show_votes] %>
<div class="form-group">
  <label for="reason" class="col-sm-3 control-label">
    <strong>Votes</strong>
  </label>
  <div class="col-sm-9">
    <div class="radio">
      <label>
        <input type="radio" name="show_votes" id="show_votes" value = "false">Hide vote count
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="show_votes" id="show_votes" value = "true" checked>Show vote count
      </label>
    </div>
  </div>
</div>
<% else %>
<div class="form-group">
  <label for="reason" class="col-sm-3 control-label">
    <strong>Votes</strong>
  </label>
  <div class="col-sm-9">
    <div class="radio">
      <label>
        <input type="radio" name="show_votes" id="show_votes" value = "false" checked>Hide vote count
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="show_votes" id="show_votes" value = "true">Show vote count
      </label>
    </div>
  </div>
</div>
<% end %>
