<% if @settings.last[:show_all_ideas] %>
<div class="form-group">
  <label for="reason" class="col-sm-3 control-label">
    <strong>Ideas</strong>
  </label>
  <div class="col-sm-9">
    <div class="radio">
      <label>
        <input type="radio" id="show_all_ideas" name="show_all_ideas" value = "false">
        Show users only their own ideas
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" id="show_all_ideas" name="show_all_ideas" value = "true" checked>
        Show users <u>all</u> submitted ideas
      </label>
    </div>
  </div>
</div>
<% else %>
<div class="form-group">
  <label for="reason" class="col-sm-3 control-label">
    <strong>Ideas</strong>
  </label>
  <div class="col-sm-9">
    <div class="radio">
      <label>
        <input type="radio" id="show_all_ideas" name="show_all_ideas" value = "false" checked>
        Show users only their own ideas
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" id="show_all_ideas" name="show_all_ideas" value = "true">
        Show users <u>all</u> submitted ideas
      </label>
    </div>
  </div>
</div>

<% end %>
