<!-- Responsive panel example -->
<br>
<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Update Settings</h3>
      </div>
      <div class="panel-body">
        <form action="/update_settings" method="post" class="form-horizontal">
          <!-- Hidden input for authenticity token to protect from forgery -->
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

          <%= render "radio2", :setting => @setting %>
          <hr>
          <%= render "radio1", :setting => @setting %>
          <hr>
          <%= render "inputs", :setting => @setting %>
          <hr>

          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-10">
              <button class="btn btn-success">
                Update
              </button>
              or
              <a href="/">Cancel</a>
            </div>
          </div>
          <hr>
          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-10">
              <a href="/reset_votes" class="btn btn-warning">Reset Votes</a>
            </a>
              or
              <a href="/">Erase all data and start over</a>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>

<!-- End responsive panel example -->


