
<% if Setting.last[:show_votes] %>

<br>
<h3> Highest voted ideas will go here! </h3>
<br>

<% else %>

<br>
<h3> Welcome to awesomeVOTE! </h3>
<br>

<h3>There are 3 simple steps to this process:</h3>
<h5>(1) <strong>Collect ideas.</strong> At first, you'll only be able to see the ideas that you submit.  Make sure that for each idea you either upload a picture or link to a YouTube video. Visuals are good!</h5>
<h5>(2) <strong>Vote.</strong> Once all ideas are in, you'll be able to see and vote on everyone else's submissions.  Remember, we're looking for ideas that are actionable and relevent to our clients needs.</h5>
<h5>(3) <strong>Improve.</strong> After everyone votes, your homepage will change to reveal the highest rated ideas. For these ideas, we'll go through the RV Process to see how how we can improve and apply them to our clients specific needs.  That's it!</h5>

<br>

<h3>Two important things to note:</h3>

<h5>(1) You can't reset your vote count.  You get <strong>10</strong> votes and one shot to cast them, so be thoughtful!</h5>
<h5>(2) This website is designed for Chrome and will not display correctly in Internet Explorer.</h5>

<br>

<h6>Contact KJ Plank (karlp@slalom.com) with any questions.  Thanks for participating!</h6>
<% end %>


