<br>
<h3> We can't wait to see the awesome ideas you come up with! </h3>
<br>

<h3>A few things to note:</h3>
<h5>(1) This website is designed for Chrome and will not display correctly in Internet Explorer</h5>
<h5>(2) You can't reset your vote count.  You get ten votes - that's it - and one shot to cast them, so be thoughtful!</h5>
<h5>(3) Once voting has closed, your homepage will change to show the highest voted ideas</h5>
